{
  "env": {
    "default": {
      "db": "http://127.0.0.1:5984/adventure"
    },
    "cloudant": {
      "db": "https://bledstembrowedthilistera:674dnrXOS7iWhv4y5LCGEfG6@valleskeyp.cloudant.com/adventure_app"
    }  
  }
}
